
.hamburger {
  width: 40px;
  height: 40px;
  margin: 10px 10px;
}

.Cross-Icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  float: left;
  margin-top: 10px;
}

.menu-items {
  display: none;
  margin: 0;
  padding: 9px 0;
  list-style: none;
  flex-direction: column;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(229, 216, 189, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  height: 100%;
}

.menu-item-mobile {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 40px;
  border-bottom: 1px solid rgb(129, 117, 117);
}

.nav-list {
  display: none;
}

.df {
  display: flex;
}

#home {
  padding: 75px 10px;
  justify-content: center;
  background-image: url(/Images/main_background.png);
}

.p-icon img {
  display: flex;
  width: 50px;
  margin-top: 25px;
}

.section-one img {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);

}

.section-two img {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 5px;
  height: 30%;
}

hr {
  width: 60px;
  margin: auto;
}

#home img {
  width: 90%;
}

#greeting {
  color: hsl(6deg, 82%, 59%);
  font-size: 20px;
}

#title h1 {
  font-size: 40px;
  width: 89%;
  color: rgb(255, 55, 0);
}

#time h5 {
    margin-left: 70px;
    color: rgb(166, 166, 166);
}

.section-one {
  border-bottom: 1px solid rgb(213, 213, 213);
  padding: 10px;
}

.section-one h2 {
  color: rgb(7, 8, 8);
  width: 80%;
  text-align: center;
  margin: auto;
  display: flex;
  padding-bottom: 10px;
}

.section-one p {
  display: flex;
  align-content: center;
}

.section-two {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgb(213, 213, 213);
  padding: 20px;
}

.section-two h2 {
  color: rgb(7, 8, 8);
  width: 80%;
  text-align: center;
  margin: auto;
  display: flex;
  padding: 10px;
}

footer {
  /* display: flex; */
  background-color: rgb(29, 40, 40);
  color: #fff;
}

#footer-div h2 {
  display: flex;
  width: 100px;
  margin: auto;
  padding: 10px;
}

#footer-div h5,
#footer-div p {
  display: none;
}

#footer-div img {
  flex-direction: row;
  width: px;
  height: 60px;
  margin: auto;
  justify-content: center;
  size: 20;
  padding: 10px;
}

@media screen and (min-width: 768px) {
   body {
     background-color: #fff;
   }

  .nav-list {
    max-width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    z-index: 100;
  }

  .menu-items {
    display: none;
  }

  header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 500;
    box-shadow: 0 3px 5px rgba(155, 155, 155, 0.3);
    background: rgba(255, 255, 255, 0.5);
    top: 0;
  }

  .hamburger {
    display: none;
  }

  .Cross-Icon {
    display: none;
  }

  .menu-item a {
    display: flex;
    flex-direction: row;
    color: red;
    text-decoration: none;
    width: auto;
    gap: 10px;
  }

  .menu-item img {
    width: 200px;
    height: 90px;
  }

  #description {
    display: flex;
    width: 80%;
    height: 20%;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgb(236, 234, 234);
    text-align: center;
  }

  #home {
    padding-top: 15%;
    background-image: url(/Images/main_background.png);
  }

  #title {
    display: flex;
    color: rgb(255, 55, 0);
    width: 60%;
    justify-items: center;
    margin: auto;
  }

  #title h1 {
    font-size: 60px;
  }

  #time {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 20px;
    align-items: center;
    color: rgb(124, 131, 131);
  }

  .section-one {
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(227, 227, 227);
  }

  hr {
    width: 60px;
    margin: auto;
  }
  .section-one p {
    width: 60%;
    margin: auto;
  }

  .section-one img {
    width: 30%;
    margin: auto;
  }

  .section-two {
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(227, 227, 227);
  }

  .section-two #Image {
    display: flex;
    width: 50%;
    margin-left: 200px;
    align-items: center;
    paddi
  }

  .section-two p {
    padding: 20px;
  }

  footer {
    display: flex;
    text-align: center;
    color: aliceblue;
    background-color: rgb(26, 25, 25);
  }

  #footer-div {
    width: 50%;
    margin: auto;
    align-items: flex-start;
  }

  #footer-div h5 {
    padding: 10px;
  }

  #footer-div img,
  #footer-div h2 {
    display: none;
  }
} /*# sourceMappingURL=index.css.map */
